/* css styles */
.columns-2 {
  column-count: 2;
  column-gap: 2em;
}

.columns-2 li {
  break-inside: avoid;   /* keeps a single list item from splitting across columns */
}

@media (max-width: 768px) {
    .quarto-layout-panel {
      grid-template-columns: 1fr !important;
    }
  }